<div class="">
  <%= link_to raw("<i class='far fa-flag'> ")+t("Countries")+raw("</i>"), countries_path, class:"btn btn-lg btn-block"%><br><br>
  <%= link_to raw("<i class='far fa-map'> ")+t("States")+raw("</i>"),states_path, class:"btn btn-lg btn-block"%><br><br>
  <%= link_to raw("<i class='far fa-building'> ")+t("Municipalities")+raw("</i>"),municipalities_path, class:"btn btn-lg btn-block"%>
</div>
