<div class="modal fade" id="new" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">New State</h3>
  </div>
  <div class="modal-body">
    <div id="state">
      <label>name</label>
      <%=text_field(:state, :name)%>
      <label>country</label>
      <%= collection_select(:state, :country_id, @countries, :id, :name)%>
      <div class="actions">
        <br>
        <table width="100%">
          <tr>
            <td width="50%">
              <p class="left">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </p>
            </td>
            <td width="50%">
              <p class="right">
                <button onclick="add_state();" type="button" name="button" data-dismiss="modal">Add new state</button>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<script type="text/javascript">
  $("input[id='state_name']").keydown(function(event){
    if (event.which >47 && event.which < 58 || event.which >95 && event.which < 106){
        return false;
      }
    });
  function add_state(){
    state=$('div[id="state"] input,select')
    name=state[0].value
    country=state[1].value
    $.ajax(
      {
        type:'put',
        url:'/new_state',
        data:{
          name:name,
          country:country
        },
        success:function(state)
        {
          var $row=$(
            '<tr>'+
            '<td>'+state.name+'</td>'+
            '<td>'+state.country.name+'</td>'+
            '<td>'+'<a class="btn btn-xs" title="Show" href="states/'+state.id+'">'+'<i class="fas fa-search"></i>'+'</a>'+'</td>'+
            '<td>'+'<a class="btn btn-xs" title="Edit" href="states/'+state.id+'/edit">'+'<i class="fas fa-pencil-alt"></i>'+'</a>'+'</td>'+
            '<td>'+'<a class="btn btn-xs" title="Remove" data-confirm="Are you sure?" rel="nofollow" data-method="put" href="state_active/'+state.id+'">'+'<i class="fas fa-trash"></i>'+'</a>'+'</td>'+
            '</tr>'
          );
          $("#states").append($row);
        }
      });
    }
</script>
