  <div class="modal fade" id="modal_delete_<%=state.id.to_s%>" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Remove state <%=state.name%></h4>
          </div>
          <div class="modal-body">
            <%municipalities=(Municipality.where(state_id:state.id).pluck(:name))%>
            <%if municipalities.length > 0%>
              <p>Deleting this state will also delete these municipalities:</p>
              <br>
              <p>
              <%municipalities.each do |municipality|%>
                  <%=municipality%><br>
              <%end%>
            </p>
            <%else%>
              <p>This state doesn't have municipalities</p>
            <%end%>
          </div>
          <div class="modal-footer" >
            <button margin-right="30%" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= link_to 'Delete', state, method: :delete, class:"btn btn-md btn-danger" %>
          </div>
        </div>
      </div>
    </div>
