<% provide(:title,"Edit Municipality") %>
<h1>Editing Municipality</h1>

<%= render 'form', municipality: @municipality %>

<%= link_to 'Show', @municipality, class: "btn btn-xs" %> |
<%= link_to 'Back', municipalities_path, class: "btn btn-xs" %>
