<div class="modal fade" id="new" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">New Country</h3>
  </div>
  <div class="modal-body">
    <div id="country">
      <label>Name:</label>
      <input id="name" type="text" name="" value="">
      <div class="actions">
        <br>
        <table width="100%">
          <tr>
            <td width="50%">
              <p class="left">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </p>
            </td>
            <td width="50%">
              <p class="right">
                <button onclick="add_country();" type="button" name="button" data-dismiss="modal">Add new country</button>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript">
$("input[id='name']").keydown(function(event){
  if (event.which >47 && event.which < 58 || event.which >95 && event.which < 106){
      return false;
    }
  });
function add_country(){
  country=$('div[id="country"] input')
  name=country[0].value
  $.ajax(
    {
      type:'put',
      url:'/new_country',
      data:{
        name:name
      },
    success: function(country)
    {
      var $row=$(
        '<tr>'+
        '<td>'+country.name+'</td>'+
        '<td>'+'<a class="btn btn-xs" title="Show" href="countries/'+country.id+'">'+'<i class="fas fa-search"></i>'+'</a>'+'</td>'+
        '<td>'+'<a class="btn btn-xs" title="Edit" href="countries/'+country.id+'/edit">'+'<i class="fas fa-pencil-alt"></i>'+'</a>'+'</td>'+
        '<td>'+'<a class="btn btn-xs" title="Remove" data-confirm="Are you sure?" rel="nofollow" data-method="put" href="country_active/'+country.id+'">'+'<i class="fas fa-trash"></i>'+'</a>'+'</td>'+
        '</tr>'
      );
      $("#countries").append($row);
    }
  });
}
</script>
