[hidden] {
  display: none !important;
}
.body{
  margin: 0px;
}
a, .btn-xs, .btn-lg{
  &:hover {
    text-decoration: none;
    background-color: #DDD;
  }
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.main{
  padding-top: 55px;
}
li{
  a{
    font-weight: bold;
    color: #7777AA;
  }
}
th{
  color: #5588ff;
}
.active{
  a,a:visited{
    color: #295;
  }
}
.inactive{
  a,a:visited{
    color: #6B3;
  }
}
.modal-body{
  .form-control,label{
    margin-left: 25%;
    width: 50%;
  }
}
